footer {
  position: absolute;
  width: 100vw;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  box-shadow: 0 -5px 5px -5px #333;
  border-top: 1px solid rgb(216, 216, 216);
}
