.main-content {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.manu {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-around;
  div {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.deco-none {
  text-decoration: none;
}

.my-content {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  > h3 {

    margin: 0;
    color: #4b4b4b;
    font-size: 20px;

    .green {
      color: #04aa6d;
    }
  }
  .content-list {
    display: flex;
    padding: 0;
    justify-content: space-around;
    
  }
}

.calender {
  padding: 1rem;
  h3 {
    margin: 0;
    color: #4b4b4b;
    font-size: 13px;
  }
}
