.list-container {
  position: relative;
  z-index: 999;
}
.list {
  position: fixed;
  top: -1rem;
  right: 0px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  list-style: none;
  width: 60%;
  height: 100%;
  background-color: white;
  animation: slide 0.5s ease-in;
  box-shadow: -5px 0 5px -5px #333;
  a {
    font-size: 1rem;
    font-weight: 800;
    text-decoration: none;
    color: rgb(112, 112, 112);
  }
  li {
    cursor: pointer;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
  }
}
@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
