.list {
  position:fixed;
  top: -1rem;
  right: 0px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  list-style: none;
  border: 1px solid black;
  width: 60%;
  height: 100%;
  background-color: aliceblue;
  z-index: 999;

  a {
    font-size: 1rem;
    font-weight: 800;
    text-decoration: none;
    color: rgb(112, 112, 112);
    border-bottom: 1px solid gray;
  }
}
