.post-list {
  padding: 3rem;

  .post-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    h3 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 500;
      height:fit-content;
    }
    .btn {
      font-size: 1.5rem;
      color: rgb(139, 139, 139);
    }
    a {
      width: 24px;
      height: 24px;
    }
  }
  .post-list-content {
    ul {
      padding: 0;
      border-top: 1px solid rgb(161, 161, 161);
      list-style: none;
    }
    .posts {
      margin: 0;
    }
  }
}
