.item {
  padding: 1rem;
  border-bottom: 1px solid rgb(226, 226, 226);
  cursor: pointer;
  .item-content {
    display: flex;
    
    justify-content: space-between;
    text-decoration: none;

    .main-content {
      padding: 0;
      .item-discription {
        font-size: 12px;
        color: #868686;
      }
      .item-main-title {
        font-size: 18px;
        margin-bottom: 0.5rem;
        font-weight: 700;
        color: black;
      }
    }
    .posted-date {
      display: flex;
      align-items: flex-end;
      color: rgb(150, 150, 150);
      font-size: 12px;
      p {
        margin: 0;
      }
    }
  }
}
