.card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  flex-direction: column;
  .big-icon {
    width: 5rem;
    height: 5rem;
  }
  .footer-icon {
    width: 2.2rem;
    height: 2.2rem;
  }
  p {
    font-size: 1rem;
    margin-top: 0.3rem;
    color: rgb(96, 96, 96);
    font-weight: 700;
  }
}
